<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <input name="cpf" id="cpf" placeholder="Digite seu cpf" type="text" required>
        <input type="submit" value="Login">
    </form>
</body>
</html>